@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
/*ESTILOS GLOBAIS*/
h2 {
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Gill Sans', sans-serif;
}
p {
    padding-bottom: 20px;
    text-align: center;
    font-size: 0.87em;
    font-weight: 500;
    font-family: 'Gill Sans', sans-serif;
}
.secao-largura-texto {
    padding: 30px;
}
/*SEÇÃO - TOPO*/
.contanier-topo {
    width: 100%;
    padding: 10px 0px;
    position: fixed;
    background-color: #fff;
}
.limitar-secao {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.contanier-topo-titulo {
    display: flex;
    padding: 10px 0px;
    justify-content: space-around;
    align-items: center;
}
.contanier-topo-link {
    display: flex;
    width: 600px;
    padding-left: 20px;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    flex-flow: row nowrap;
}
.contanier-topo-link a {
    font-size: 1.5em;
    text-decoration: none;
    color: #3d3d3d;
}
.contanier-topo-link span {
    color: #6592c9;
}
.contanier-topo-links {
    display: flex;
    width: 700px;
    padding-right: 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}
.topo-links {
    text-decoration: none;
    color: #3d3d3d;
}
/*SEÇAO - CONTEÚDO*/
.contanier-conteudo-banner {
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    background-image: url('../Imagens/img-fundo.jpg');
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}
.contanier-conteudo-banner-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
    font-size: 1.13em;
    color: #fff;
    text-align: center;
    background-color: #0a9077b3;
    border: 1px solid #fff;
    border-radius: 4px;
}
.contanier-conteudo-banner-titulo h2 {
    padding-top: 7px;
    font-family: Impact,sans-serif;
    font-size: 1.87em;
    font-weight: 400;
    text-align: center;
}
.contanier-conteudo-banner-titulo p {
    padding-bottom: 17px;
    font-size: 1.17em;
}
/*SEÇAO - CONTEÚDO-QUARTOS*/
.quartos {
    display: flex;
    max-width: 1920px;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 10px;
    flex: 0 1 100px;
}
.quartos img {
    width: 400px;
    border: 1px solid #3d3d3d;
    border-radius: 2px;
}
.quartos a {
    text-decoration: none;
    font-size: 1.37em;
    font-family: 'Times New Roman', sans-serif;
    color: #3d3d3d;
}
.quartos a>p {
    font-weight: bold;
}
.barra {
    width: 300px;
    margin: 0 auto;
    border-top: 1px solid #0a9077b3;
}
.quartos a:hover {
    color: #0000CD;
    font-size: 1.27em;
}
/*SEÇAO - SOBRE*/
.secao-sobre {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;
}
.sobre-conteudo{
    width: 600px;
    display: flex;
    padding: 20px 30px;
    gap: 30px;
}
.sobre-conteudo div {
    display: flex;
    flex-flow: column wrap;
}
.sobre-conteudo img {
    width: 100px;
    display: flex;
}
.secao-sobre h3 {
    text-align: left;
    padding-bottom: 14px;
}
.secao-sobre p {
    text-align: left;
}
.secao-correcao {
    display: flex;
    justify-content: space-between;
}
/*SEÇAO - RODAPE*/
.rodape {
    display: flex;
    margin: 0 auto;
    padding: 30px 0px;
    justify-content: center;
    align-items: center;
    background-color: #0a9077b3;
}
.secao-rodape {
    display: flex;
    width: 1200px;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    gap: 1px;
}
.secao-rodape a {
    color: #000000;
    font-weight: bold;
}
.secao-rodape a:hover{
    color: #fff;
}
.contato{
    width: 270px;
}
.endereco {
    display: flex;
    width: 350px;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}
.endereco a {
    padding-top: 17px;
    text-decoration: none;
}
.telefone {
    display: flex;
    width: 200px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.telefone p {
    padding-top: 17px;
}
.reserva {
    display: flex;
    width: 330px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.reserva a {
    text-decoration: none;
}
.solucao-final {
    display: flex;
    margin-top: 40px;
    flex-flow: column wrap;
}
.rodape-linha {
    width: 300px;
    padding-top: 7px;
    border-top: 1px solid #0a9077b3;
}
.direitos-copia {
    margin: 0px auto;
    color: #fff;
}
